.container{
  background: linear-gradient(to right, #5f2c82, #49a09d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 5px 5px rgba(49, 49, 49, 0.5);
  padding: 40px 20px;
}
.header__title{
  text-align: center;
  margin: 0;
  color: #fff;
  margin-bottom: 20px;
}
.login{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.login__input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 10px 0;
  border-bottom: 1px solid black;
  padding: 0 5px ;
  outline: none;
}
.login__input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}
.login__btn{
  display: block;
  margin: 15px auto;
  width: 150px;
  height: 30px;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  border: none;
  border-radius: 10px;
  transition: all;
  transition-duration: .5s;
  box-shadow: 0 2px 2px 2px rgba(54, 54, 54, 0.5);
}
.login__btn:hover{
  transition: all;
  transform: scale(1.1, 1.1);
  transition-duration: .5s;
  cursor: pointer;
  box-shadow: 0 2px 4px 5px rgb(54, 54, 54, 0.5);
}